@import "../utils/variables";

$fonts:  (
  //fontName    fontType   fontWeight  fontStyle
  $fontMontserrat 'Bold' bold normal,
  $fontMontserrat 'Medium' 500 normal,
  $fontMontserrat 'Regular' normal normal,
);


@each $type in $fonts {
  @font-face {
      font-family: '#{nth($type, 1)}';
      src: local('#{nth($type, 1)} #{nth($type, 2)}'), local('#{nth($type, 1)}-#{nth($type, 2)}'),
      url('~@/assets/fonts/#{nth($type, 1)}-#{nth($type, 2)}.woff2') format('woff2'),
      url('~@/assets/fonts/#{nth($type, 1)}-#{nth($type, 2)}.woff') format('woff');
      font-weight: #{nth($type, 3)};
      font-style: #{nth($type, 4)};
      font-display: swap;
  }
}